# Lesson 2 Activities
The activities in this page will allow you to demonstrate your ability to:

* Create a Python script that uses a `for` loop to repeat an activity until a specific criterion is met.
* Create a Python script that uses a `while` loop to repeat an activity as long as a specific criterion holds true.

## Activity 1
Given the list `fruit_list`, write a script that iterates through the list and prints each item on a separate line.

In [ ]:
fruit_list = ["apple", "banana", "cherry", "gooseberry", "kumquat", "orange", "pineapple"]

# your code here
for i in fruit_list:
  print(i)

apple
banana
cherry
gooseberry
kumquat
orange
pineapple

## Activity 2
Write a script that asks the user for a string and displays the characters of the string to the user, with each character on a new line.

For example, if the input is `Hello`, the output should be:

    H
    e
    l
    l
    o

In [ ]:
# your code here
l = input('Enter your input: ')
for i in l:
  print(i)

Enter your input: hello
h
e
l
l
o

## Activity 3
Write a script that computes the length of a string without using the `len()` function.

In [ ]:
# your code here
c=0
for i in l:
  c+=1
print(c)

5

## Activity 4
Create a program that starts with a list of strings, identifies all the strings with more than two characters, stores the results in another list, and displays the new list.

For example:

    a = ["a", "bc", "rye", "hello", "c", ""]

Output:

    ["rye", "hello"]

In [ ]:
# your code here
a = ["a", "bc", "rye", "hello", "c", ""]

l = []
for i in a:
  if(len(i)>2):
    l.append(i)
print(l)

['rye', 'hello']

## Activity 5
Write two scripts, each of which displays all numbers divisible by 50 between 100 and 1000 (inclusive).
* Use the `range` function with `for` in one script.
* Use `while` without `range` in the other script.

Both scripts should have identical outputs.

In [ ]:
# script 1: range
# your code here
for i in range(100,1001,50):
  print(i)

100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000

In [ ]:
# script 2: while
# your code here
i=100
while(i<1001):
  print(i)
  i+=50

100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000

## Activity 6
Create a script that computes the sum of all numbers between 0 and 100.

In [ ]:
# your code here
r = range(0,101)
print(sum(r))

5050

## Activity 7
Create a script that computes the factorial of any given number.

In [ ]:
# your code here
def fac(n):
  if(n==1): return 1
  return fac(n-1) * n
print(fac((5)))

120

##  Activity 8
Starting with the defined `fruit_list` in the code block below, update the script to perform the following tasks.

1. Prompt the user to enter the name of a fruit.
1. If the fruit is in `fruit_list`, display an appropriate message to the user and tell the user its index value in the list.
1. If the fruit is not in `fruit_list`, display an appropriate message to the user and prompt them to try again.
1. The script should repeat itself until the user enters a stop word at the prompt.

**Tip:** It's always a good idea to tell the user how to end a loop!

In [ ]:
fruit_list = ["apple", "banana", "cherry", "gooseberry", "kumquat", "orange", "pineapple"]

# your code here
cont= 1
while(bool(cont)):
  i = input("Enter a fruit: ")
  while(i.lower() not in fruit_list):
    print("Sorry, the fruit is not on the list. PLease, try again!")
    i = input("Enter a fruit: ")
  
  ii = fruit_list.index(i)
  print("{} is on our list at index {}".format(i,ii))
  cont = int(input("Would you like to continue? (0/1) "))

Enter a fruit: apple
apple is on our list at index 0
Would you like to continue? (0/1) 0

## Activity 9
Create a script that asks the user for a variable number of values and displays the sum of those values to the user. 
	
The program should prompt the user for values until the user enters the word "quit" (uppercase or lowercase), display the values used in the calculation, and then display the total of those values.

In [ ]:
# your code here
c = 1
q = ""
ar=[]
while (q.lower() != 'quit'):
  print("Enter value {}: ".format(c))
  i = input()
  c+=1
  ar.append(int(i))
  print("Enter quit if you want to quit: ")
  q = input()
print("Sum is {} ".format(sum(ar)))

Enter value 1:
123
Enter quit if you want to quit:
no
Enter value 2:
1245
Enter quit if you want to quit:
quit
Sum is 1368

## Activity 10
Write a script that asks the user for an integer value and then displays the multiplication table of that input number from 1 through the integer squared.

In [ ]:
# your code here
import pandas as pd

i = 2
#i = int(input("Enter an integer: "))
i = i**2

r = range(i**2+1)
top = ['index']
for k in range(i):
  top.append(k+1)

t = []
c=0
print(t)
while(c<i):
  ii=0
  temp=[]
  while(ii<i):
    
    tt=(c+1)*(ii+1)
    
    temp.append(tt)
    

    ii+=1
  t.append(temp)
  c+=1

table=[]
table.append(top)
t1=[]
for i in range(len(t)):
  tt=[]
  tt =[i+1]
  tt.extend(t[i])
  t1.append(tt)
table.extend(t1)
df.append(table)
df = pd.DataFrame(table)
print(df)

[]
       0  1  2   3   4
0  index  1  2   3   4
1      1  1  2   3   4
2      2  2  4   6   8
3      3  3  6   9  12
4      4  4  8  12  16

## Activity 11
Create a script that identifies all prime numbers between 0 and 100.

In [ ]:
# your code here
prime=1
def primeOrNot(n):
  if n == 1:
    return True
  if n == 0:
    return True
  for i in range(2,n):
    if (n%i == 0):
      return False
  return True
for i in range(101):
  if(primeOrNot(i)):
    print(i,True)

0 True
1 True
2 True
3 True
5 True
7 True
11 True
13 True
17 True
19 True
23 True
29 True
31 True
37 True
41 True
43 True
47 True
53 True
59 True
61 True
67 True
71 True
73 True
79 True
83 True
89 True
97 True

## Activity 12
Write a script that calculates the greatest common denominator between two numbers.

For example, given the numbers 18 and 27, the greatest common denominator is 9.

In [3]:
# your code here
a=18
b=27
m = min(a,b)
d=1
for i in reversed(range(1,m+1)):
  if(a%i==0 and b%i==0):
    d=i
    break
print(d)
import math
temp = math.gcd(a,b)
print(temp)

9
9

## Activity 13
Write a script that computes the frequency of each digit in a given integer.

For example, if the input number is 334, the output should be:

    3 occurs 2 times 
    4 occurs 1 time

In [6]:
# your code here
l=range(0,10)
c=[0]*10
test=str(12314231)
for i in test:
  c[int(i)]+=1

for i in l:
  print("{} occurs {} times".format(i,c[i]))

0 occurs 0 times
1 occurs 3 times
2 occurs 2 times
3 occurs 2 times
4 occurs 1 times
5 occurs 0 times
6 occurs 0 times
7 occurs 0 times
8 occurs 0 times
9 occurs 0 times

## Activity 14

Write a script that calculates the lowest common multiple of two given integers.

For example, given the values 4 and 6, the lowest common multiple is 12.

In [10]:
# your code here
a = 4
b = 10
m = 4*6
for i in range(1,m+1):
  if (i%a==0 and i%b==0):
    print(i)
    break

20

## Activity 15
Write a script that determines if an input number can be expressed as the sum of two prime numbers. 

For example, the number `10` can be expressed as the sum of two prime numbers:
* 10 = 3 + 7 : both prime numbers 
* 10 = 5 + 5 : both prime numbers 

However, the number `11` cannot be:
* 11 = 1 + 10 : neither 1 nor 10 are prime numbers
* 11 = 2 + 9 : 9 is not a prime number
* 11 = 3 + 8 : 8 is not a prime number
* 11 = 4 + 7 : 4 is not a prime number
* 11 = 5 + 6 : 6 is not a prime number

In [8]:
# your code here
s = 12
def isPrime(p):
  if(p==1):
    return False
  if(p==2):
    return True
  for i in range(2,round(p)):
    if(p%i==0):
      return False
  return True
notExists=True
for i in range(2,round(s/2)):
  if(isPrime(i) and isPrime(s-i)):
    print("{} = {} + {}".format(s,i,(s-i)))
    notExists=False
if(notExists):
  print("No solution")

12 = 5 + 7