# Functions
This worksheet corresponds to *Lesson 1: Functions* in the online course. Refer to that lesson as necessary to complete the practice activities here.

## Practice 1
Define the `find_max` function below to compute the max value from an input list of numbers. 


<!--Can we have a solution to this? I do not see how to implement this using the tools 
they have learned to this point-KW -->

In [1]:
def find_max(numbers):
    return max(numbers)
    pass

# do not change this code below 
numbers = [1,5,5,7,10,1]
print(find_max(numbers))

10

## Practice 2
Define and implement the function `find_div`, which finds all the elements that are divisible by an input value in a list of numbers.

In [2]:
def find_div(numbers,factor):
    return [n for n in numbers if n%factor==0]
    
            
numbers = [1,5,5,7,10,1,9,12]
find_div(numbers,3) # find all numbers divisible by 3
find_div(numbers,2) # find all numbers divisible by 2

[10, 12]

## Practice 3
Fix the code below so that the `find_greater` function uses the default value 0 as the threshold value if we don't specify a different value.

In [3]:
def find_greater(numbers,threshold=0):
    for num in numbers:
        # we only display the numbers that are above the input threshold
        if (num>threshold):
            print(num)

numbers = [1,5,5,7,10,1]
find_greater(numbers) # find all numbers greater than 0
find_greater(numbers,5) # find all numbers greater than 5

1
5
5
7
10
1
7
10

## Practice 4
Create a Python function `check_divisible` that has two parameters:
* A list of numbers called `numbers`
* An integer called `factor` with the default value 2  

The function should print all of the numbers in the `numbers` list that are divisible by `factor`.

In [4]:
def check_divisible(numbers,factor=2):
    #remove pass and implement your code here. 
    print([n for n in numbers if n%2==0])


numbers = [12,5,8,9,4,5]
print(numbers)
check_divisible(numbers)

[12, 5, 8, 9, 4, 5]
[12, 8, 4]

## Practice 5
Complete the Python function below which, converts a set into a list. 

The `set2list` function takes a set as its parameter and returns a list that contains the elements of the set. 

<!-- This exercise is not clear to me.-->

In [5]:
def set2list(input_set):
    #remove pass and add your code here 
    return list(input_set)



s = {"mary","haythem","mark","jess"}

l = set2list(s)
print(l)  # this should print the l outputted by set2list
print(type(l)) # this should print <class 'list'>

['mary', 'mark', 'jess', 'haythem']
<class 'list'>

## Practice 6
Create a function `compute_sum` that takes as input an indefinite number of integers and returns the sum of those numbers. 
	
Make sure to test the function using different numbers of input values.

In [9]:
def compute_sum(*argv):
    # remove pass and add your code here
    return sum(argv)
    pass


numbers = [1,5,5,7,10,1]
summation = compute_sum(1,23,12,412,2)
print(summation) # should print 29 for [1,5,5,7,10,1]

450

## Practice 7
Create a function named `check_words` that takes as input some text and a list of words. The function should compute the frequency of occurrence of each word in the input list.

The output should look like this:

    {'to': 4, 'back': 0, 'the': 11, 'is': 1}
    {'over': 1, 'level': 2, 'way': 1, 'square': 0, 'figure': 1}

**Bonus**: After getting the script to work with the current text, revise the program so that the output is not case-sensitive. For example, instead of treating "The" and "the" as different words, the count should include all instances of the word "the" regardless of case.

The text in this exercise comes from E. Abbotts' [Flatland](https://www.gutenberg.org/ebooks/201).

In [11]:
# input 1: text: string
# argv: list of words "to","back","the","is"
# output: dictionnary, which represents {'to': 3, 'back': 1, 'the': 4, 'is': 4}
def check_words(text,*argv):
    # remove pass and add your code here
    a = list(argv)
    a = set(a)
    b = dict()
    for i in a:
      b[i]=0
    t = text.split(" ")
    for i in t:
      if i in a:
        b[i]+=1
    return b

    
text = """The same thing would happen if you were to treat in the same way a Triangle, or Square, 
or any other figure cut out of pasteboard. As soon as you look at it with your eye on the edge on 
the table, you will find that it ceases to appear to you a figure, and that it becomes in appearance 
a straight line. Take for example an equilateral Triangleâ€”who represents with us a Tradesman of 
the respectable class. Fig. 1 represents the Tradesman as you would see him while you were bending 
over him from above; figs. 2 and 3 represent the Tradesman, as you would see him if your eye were 
close to the level, or all but on the level of the table; and if your eye were quite on the level 
of the table (and that is how we see him in Flatland) you would see nothing but a straight line. """


words = check_words(text,"to","back","the","is")
print(words) 

words = check_words(text,"over","level","way","square","figure")
print(words)

{'to': 4, 'the': 9, 'back': 0, 'is': 1}
{'level': 2, 'over': 0, 'square': 0, 'way': 1, 'figure': 1}

## Practice 8
Create a function that takes as input a variable number of keyword arguments using the following pattern:

    word_1=value, word_2=value,...,word_n = value
    
The function should return the word with the highest corresponding value, with the word and value in a tuple. Using the example data included in the code below, the result would be `word_3 6`.

In [14]:
def compute_max_value(**kwargs):
  m=0
  t=""
  for (i,v) in kwargs.items():
    if(m<v):
      m=v
      t=i
  return (t,m)


(word,freq) = compute_max_value(word_1 = 1,word_2 = 3,word_3 = 6,word_4 = 5)
print(word,freq) # should return  word_3 6 for input word_1=1,word_2=3,word_3=6,word_4=5

word_3 6

## Practice 9
Create a function that takes as input three numbers named `number_1`, `number_2`, and `number_3`. 

The function should return one number derived as a concatenation of the input numbers in the order `number_1number_2number_3`.  

For example, if we start with the following values:
* `number_1 = 5`
* `number_2 = 5`
* `number_3 = 14`

The output should be `5514` regardless of the order in which the values are identified in the function.

In [15]:
def concat_numbers(number_1,number_2,number_3):

    return int(str(number_1)+str(number_2)+str(number_3))


concat_number = concat_numbers(number_2 = 5, number_3 = 14, number_1 = 5)
print(concat_number)

5514