# Worksheet 1B: Tuples
This worksheet corresponds to *Lesson 1B: Tuples and Tuple Operations* in the online course. Refer to that lesson as necessary to complete the practice activities here.

## Practice 1
Create a tuple that contains the following information:  
* Your first name 
* Your last name
* Your age
* The average number of miles you travel to work every day (round trip)

In [ ]:
# your code here 
t=("Thien","Tran",322,10)

## Practice 2
Create a tuple that contains a series of items and then calculate the length of the tuple.

You may use the code from Practice 1 above as a starting point if you wish.

In [ ]:
# your code here
t=("Thien","Tran",322,10)
print(len(t))

4

## Practice 3
Fix the following code so all the information is displayed correctly.

In [ ]:
# do not change the first line of code
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "46410", "219-555-4876") 
print(info)

# change the index values to produce the correct outputs
print("Last name: "+info[0])
print("First name: "+info[1])
print("Phone number: "+info[-1])
print("Street: "+info[2])
print("City: "+info[3])
print("State: "+info[4])
print("Zip code: "+info[5])

('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '46410', '219-555-4876')
Last name: Jonathan
First name: Vance
Phone number: 219-555-4876
Street: 679 Birchpond Street
City: Merrillville
State: IN
Zip code: 46410

## Practice 4
Use negative indexing to display all the items in the tuple below in alphabetical order.

In [ ]:
data = ("Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson", "Van Buren")

# your code here
data = list(data)
data.sort()
data=tuple(data)
i=len(data) * -1
while i < 0:
  print(data[i])
  i+=1

Adams
Adams
Jackson
Jefferson
Madison
Monroe
Van Buren
Washington

## Practice 5a
Update the code below so that each range references only one index value.

The output should not change.

In [ ]:
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "46410") 

# we extract only the first two elements from the tuple and store them in a new tuple
name = info[0:2]  
print("The name is:")
print(name)

# we extract only the last four elements from the tuple and store them in a new tuple
address = info[2:6] 
print("The address is:")
print(address)

The name is:
('Jonathan', 'Vance')
The address is:
('679 Birchpond Street', 'Merrillville', 'IN', '46410')

## Practice 5b
The tuple below contains the abbreviation of all the states in the USA. 

Use slicing to create three new tuples: 
* One tuple that contains all states that start with N
* One tuple that contains all states that start with O
* One tuple that contains all states that start with A

In [ ]:
states = ("AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY")

# your code here 
def findInd(target,states):
  start =-1 
  end = -1
  
  for i in range(len(states)):
    if(states[i][0] == target and start == -1):
      start=i
    if(states[i][0]!= target and start != -1 and end == -1):
      end = i
  return [start,end]
l = findInd('A',states)
a = states[l[0]:l[1]]
l = findInd('O',states)
o = states[l[0]:l[1]]
l = findInd('N',states)
n = states[l[0]:l[1]]
print(a,o,n)

('AL', 'AK', 'AZ', 'AR') ('OH', 'OK', 'OR') ('NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND')

## Practice 6
Attempt each of the following tasks on the tuple defined below:
* Add an integer representing Jonathan's age as the last item in the tuple.
* Add the Zip code "46410" between the state and phone number.
* Remove the phone number from the tuple.
Attempt each of the tasks individually, run the code to see what happens, and then attempt the next task in the list.

**Challenge**: Change the code so that the data is stored as a list rather than as a tuple and attempt each of the tasks again.

In [ ]:
info = ("Jonathan", "Vance", "679 Birchpond Street", "Merrillville", "IN", "219-555-4876") 
print(info)
info = list(info)
info.append(50)
info.insert(5,46410)
info.pop(6)
info=tuple(info)
print(info)

('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', '219-555-4876')
('Jonathan', 'Vance', '679 Birchpond Street', 'Merrillville', 'IN', 46410, 50)

## Practice 7
Create three tuples: 
* One tuple with a person's first name and last name
* A second tuple with the person's complete address
* A third tuple with contact information, such as a phone number and an email address

Combine all tuples into a new, single tuple that contains all of the items from the original tuples.

In [ ]:
# your code here
name = ('Tony','Stark')
addr = ('321 Stark Tower A Learkst , New York City, NY, USA',)
phone = (1224243423, 'stark@emergency.avengers')
person = ()
person = name + addr + phone
print(person)

('Tony', 'Stark', '321 Stark Tower A Learkst , New York City, NY, USA', 1224243423, 'stark@emergency.avengers')

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

In [ ]:
# Which structures in Python allow us to combine the for operator with if to search for a specific value?

# Select all appropriate answers:

# a.
# Strings

# b.
# Lists

# c.
# Tuples

# d.
# Integers